#bliss_logo {
  font-family: QuickSandRegular;
  color: white;
  font-size: 48px;
  font-weight: normal;
  margin: 20px;
  padding: 10px;
  padding-left: 30px;
}
#exercise {
  background-color: #27b99a;
  width: 300px;
  margin-left: 10px;
  padding:10px;
}
#exercise textarea {
  width: 90%;
  height: 200px;
}
#exercise_name {
  margin-top: 0;
}
#exercise button {
  outline: none;
  border: none;
  background: #333;
  color: white;
  font-size: 16px;
  padding: 10px;
  min-width: 100px;
}

#exercise_header {
  font-family: QuickSandRegular;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

#logo_container {
  background-color: #27b99a;
}
body {
  background-size: 100%;
}

/**
 * Today's Exercise
 */

#exercise .header {
  font-size: 14px;
}

#exercise .exercise {
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

#exercise .name {
  margin-left: 10px;
}

#time {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 72px;
  color: white;
  opacity: 80%;
}
