#BlissGetStorageForm {
  top: 0px;
  position:absolute;
  background: white;
  z-index: 99999999;
}
#BlissGetStorageForm td, #BlissGetStorageForm th {
  border: 1px solid black;
  padding: 5px;
}

#BlissGetStorageForm .delete {
  background-color: red;
  cursor: pointer;

}

#BlissGetStorageForm table {
  border-collapse: collapse;
}
#BlissGetStorageForm tr:nth-child(odd) {
  background-color: #D1E0E0;
}
#storageText {
  width: 500px;
  height: 300px;
}
body {
  margin-bottom: 200px;
}

.boolean {
  font-weight: bold;
}
