<div id="IntroForm" class="default">
  <header class="form-header">
    <center><h2>bliss</h2></center>
  </header>
  <div class="content">
    <div class="inner clearfix">
      <div class="container clearfix">
        <h1 class="title">Bliss Mood Trackers</h1>
        
        <p><em>"What you cannot measure, you cannot manage."</em></p>        
        <br>
        <br>
        
        <p>As you use the web, Bliss will randomly prompt you to enter your mood. Trackers are designed to be fast and simple.
        They provide the foundation of hard data that Bliss builds on.</p>
        <br><br>
        
        <p>Mood trackers allow you identify what makes you happy and include more of it in your life, as well as giving us a scientific basis to evaluate which exercises are most effective.</p>
        <br>
      </div>
     </div>
  </div>
  <footer id="footer">
    <div class="btn-center">
    <button id="nextButton" class="btn btn-default">Next <span class="arrow">></span></button>
    </div>
  </footer>
</div>
