<div id="IntroForm" class="default">
  <header class="form-header">
    <center><h2>bliss</h2></center>
  </header>
  <div class="content">
      <div class="inner clearfix">
        <div class="container clearfix">
        <h2 class="title">Find the Bliss icon in your browser</h2>
        <br />
        <p>Look for the Bliss icon <img class="app-icon" src="<%= Bliss.getLocalUrl('ui/forms/images/icon-example.jpeg') %>">
        at the top-right of your browser window.</p>
        <br>
        <br>
        <p>The red notifications box <img src="<%= Bliss.getLocalUrl('ui/forms/images/notification-example.jpeg') %>"> will appear when you have new exercises available.</p>
        <br>

      <p class="center"><strong>You may need to drag address bar to the left to see Bliss</strong></p><br />
      <div id="app-bar-video-container">
       
        <video id="app-bar-video" width="400" >
          <source src="<%= Bliss.getLocalUrl('ui/forms/videos/app-bar.mp4') %>" type="video/mp4">
        </video>
       
      </div>
      <br />
      <div class="center">
         <p>Drag the Bliss icon to the left for easy visibility.</p>
      </div>
      </div>
      </div>
  </div>
  <footer id="footer">
    <div class="btn-center">
      <button id="nextButton" class="btn btn-default">Next</button>
    </div>
  </footer>
</div>
