<div id="MicrohabitReminderForm" class="reminder">
  <header class="form-header">
    <center><h2>bliss</h2></center>
  </header> 
  <div class="content">
    <h1 class="title">Microhabit Reminder: Practice a 1 minute emotional prep</h1>
    <p  class="benefits"><b>Benefits:</b> Improve as an actor, open up emotionally.  I may get the lead role in a play, or a good film.  I will feel happy and proud of my acting accomplishments.  My parents will get to see me perform and be thrilled.</p>
  </div>
    <a href="#" id="reminder_settings">edit reminder settings</a>
    <span id="close_button">X</span>
</div>
