<div id="ReviewRequestForm" class="default form">
  <header class="form-header">
    <center><h2>bliss</h2></center>
  </header>
  <div class="content">
    <div class="inner clearfix">
    
    <div class="container clearfix">
      <h1 class="title">Thanks for using Bliss :)</h1>
      <p>Bliss is free. Our goal is to give as many people as possible the best tools available to live happy, fulfilling lives.</p>
      <br>
      <p>If you find it valuable, <a target="_blank" id='review-request' href='https://chrome.google.com/webstore/detail/bliss/bhlhampdgdkffgbbegpeldgeeghdklco/reviews'>give us a great review</a> on the Chrome Webstore to say thanks. If you find a bug or think we can do better your can leave feedback <a href="<%= Bliss.getExerciseUrl('FeedbackForm') %>">here</a>.</p>

    </div>
    </div>
  </div>
  <footer id="footer">
  </footer>
</div>
