<div id="SevenDayChallengeCongrats" class="congrats">
  <header id="header" class="header">
    <div class="inner clearfix">
          <center>
          <a href="/">
            <img src="/images/useraccess-logo.png" alt="Bliss Logo"> 
          </a>
          </center>
        </div>
  </header>
   <div class="content">
		<div class="inner clearfix">
			<div class="congrats-header-container">
				<div class="inner clearfix">
					<center>	
					<h1>Congratulations!</h1>
					<h2>You've completed the 7 day challenge</h2>
					</center>
				</div>
			</div>

			<div class="container clearfix">
				<p>You've taken the initiative to make a positive change in your life, and stuck with 
it to see your goal to completion.</p><br />

				<p><em>Positive Psychology exercises can literally restructure your brain, building 
new healthier pathways and letting the negative ones die out. These changes are 
profound, but they don't happen over night.</em></p><br /> 
				
				<p>Keep going on the journey and with time you'll see greater improvement in your 
outlook, attitude and mood.</p><br />
			</div>

			<div class="social-footer">
				<div class="inner clearfix">
					<p class="help">Know someone who could benefit from Bliss? Share with your friends</p>
					<div class="social-button">
					<iframe src="http://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fbliss31.com&amp;layout=button" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width: 57px; height: 20px; margin-right: 10px; margin-top: 5px;" allowTransparency="true"></iframe>

					<iframe id="tweet-button" allowtransparency="true" frameborder="0" scrolling="no"
            src="http://platform.twitter.com/widgets/tweet_button.html?text=Bliss%20-%20Positive%20Psychology%20App&amp;count=horizontal&amp;url=http://bliss31.com"
            style="width:57px; height:20px; overflow: hidden; margin-right: 10px; margin-top: 5px;"></iframe>
          <!-- via=bliss_positive_psychology&amp;  Add this if we get a twitter account :) -->

            		<a href="mailto:?subject=Bliss&body=<%= escape('Bliss - The positive psychology app' + "\n\n" + 'http://bliss31.com') %>" class="email-to-friend"><img src="/images/email-to-friend.png" alt="email-icon"> <span>E-mail to a friend</span></a>
            		</div>
				</div>
			</div>
		</div>
   </div>
</div>
