<div id="best-future-intro-form" class="default">
  <header class="form-header">
    <center><h2>bliss</h2></center> 
  </header>
  <div class="content">
    <div class="inner-clearfix">
      <div class="container clearfix">

        <h1 class="title">Best Possible Future</h1>

          <p>The Best Possible Future exercise is a potent psychological intervention that has been repeatedly proven to increase optimism, life 
          statisfication and happiness. It works by helping you identify the things that are most important to you, and showing you a path to get more of those things in all aspects of your life.</p>

         <% split('bpf-intro-placebo').yesno(function(){ %>
         <p>Users report feeling a surge of motivation and renewed enthusiam towards pursuing their goals and crafting the type of life that they most deeply desire. With a clear vision of what's important to you, you'll a experience a newfound sense of determination and optimism that will make you more effective in everything that you do.</p>
         <% }); %>
        
      </div>
    </div>    
  </div>
  <footer id="footer">
    <div class="btn-center">
      <button id="submitButton" class="btn btn-default">Get Started</button>
    </div>
  </footer>
</div>
