<div id="BestPossibleSelfExerciseIntro" class="default">
    <header class="form-header">
      <center><h2>bliss</h2></center>
    </header>
    <div class="content">
      <div class="inner clearfix">
        
        <div class="container clearfix">
          <h1 class="title">Best Possible Self</h1>
          <p>"Best Possible Self" is a powerful psychological exercise that has been proven to increase motivation, happiness and optimism.  It's an excellent first exercise
          because it unleashes a flood of motivation that will get you started on your journey of positive mental transformation.
          </p>
          <br>
          <p>
          By identifying your ideal self at your happiest and most successful, you give your brain a compelling vision of the future to work towards, which will help you achieve greater results in all aspects of your life.
          </p>
        </div>
        
      </div>
    </div>
    <footer id="footer">
      <div class="btn-center">
      <button id="nextButton" class="btn btn-default">Get Started</button>
      </div>
    </footer>
</div>
