<div id="CouldBeWorseExercise" class="default">
  
  <header class="form-header">
    <center><h2>bliss</h2></center>
  </header>
  <div class="content">
    <div class="inner clearfix">
      <div class="container clearfix">
        <h1>Could Be Worse</h1>
          <p>
              Could Be Worse a.k.a. "downward hedonic contrast" is a technique that makes you happier by readjusting your brain's mental baseline. Our life satisfaction is based largely on our expectations. An investment banker can be legitimately depressed over a smaller-than-expected salary that would, to a migrant worker, seem like a fortune.
          </p>
          <p>
              By identifying how much worse your life could be you gain a renewed sense of gratitude for just how lucky you are.  You step off the treadmill of never-ending desire and start to appreciate all that you already have.
          </p>
     </div>
    </div> 
  </div>
  <footer id="footer">
    <div class="btn-center">
    <button id="nextButton" class="btn btn-default">Get Started</button>
    </footer>
  </div>
  </div>
</div>
