<div id="CountingKindnessExercise" class="default">
  <div class="inner clearfix">
    <header class="form-header">
      <center><h2>bliss</h2></center>
    </header>
    <div class="content">
      <div class="container clearfix">
        <h1 class="title">Counting Kindness</h1>
        <div class="text">
          <p>Count your kindness</p>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="btn-center">
        <button id="nextButton" class="btn btn-default">Get Started</button>
      </div>
    </footer>
  </div>
</div>
