<div id="GratitudeExercise" class="default">
    <header class="form-header">
      <center><h2>bliss</h2></center>
    </header>
    <div class="content">
      <div class="inner clearfix">
        
        <div class="container clearfix">
          <h1 class="title">Gratitude Journal</h1>
          <p>
          Keeping a gratitude journal makes you happier, but that's not all. It also increases enthusiasm, determination, and even alertness.
          <br><br>
          People who keep gratitude journals have also been found to make more progress on their personal goals.  It helps you wire your brain for positivity and optimism,
          making you more effective, likeable and successfull person.
          </p>
        </div>
        
      </div>
    </div>
    <footer id="footer">
      <div class="btn-center">
      <button id="nextButton" class="btn btn-default">Get Started</button>
      </div>
    </footer>
</div>
