<div id="HonoringPeopleExercise" class="default">
    <header class="form-header">
      <a href="#" id="previous" title="Previous entry"><img src="<%= Bliss.getLocalUrl('images/left-arrow.png') %>"></a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#" id="next" title="Next entry"><img src="<%= Bliss.getLocalUrl('images/right-arrow.png') %>"></a>
      <center> <h2>bliss</h2></center> 
    </header>

    <figure class="main-image">
      <img src="<%= Bliss.getLocalUrl('ui/exercises/images/Bridge.jpg')  %>">
      <img class="icon" src="<%= Bliss.getLocalUrl('images/exercise-icon.png')  %>">
      <figcaption class="title">Honoring People</figcaption>
    </figure>

    <div class="content">
      <div class="inner clearfix">
        <div class="container clearfix">
          <% if (typeof createdAt != 'undefined') { %>
            <h3><%= Bliss.formatDate(createdAt) %></h3>
          <% } %>
      
          <h3>Who are you grateful for?</h3>

            <p><span class="first">Pick</span> a specific person who you are grateful to have in your life - it could be anyone - from a family member, a close friend, or even just an aquaintance. What do you most appreciate about them?  Write a short paragraph on why you're grateful to have them in your life.<p>
        </div>

        <div class="container clearfix">
          <div id="gratitude">
            <textarea name="honoring_people" index="" ><%= honoring_people %></textarea>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="btn-center">
        <button id="submitButton" class="btn btn-default"><%= submit_button_text %></button>
      </div>
    </footer> 
</div>
