<div id="HonoringPeopleExercise" class="default extro">
   <header class="form-header">
      <center><h2>bliss</h2></center> 
    </header>
    <div class="content">
      <div class="inner clearfix">
        <div class="container clearfix">
        <h1 class="title">Email your entry</h1>
        <p>If you like, you can email your entry to the person you wrote about.</p>

        <p>You'll get a chance to edit the message before you send.</p>
        <a target="_blank" class="email" href="mailto:?subject=What I like about you&body=<%= escape(email_intro + "\n\n" + honoring_people) %>">Open as an E-mail message</a>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="btn-center">
      <button id="nextButton" class="btn btn-default">Finish</button>
    </footer>
    </div>
</div>
