<div id="HonoringPeopleExercise" class="default">
   <header class="form-header">
      <center><h2>bliss</h2></center> 
    </header>
    <div class="content">
      <div class="inner clearfix">
      
      <div class="container clearfix">
        <h1 class="title">Honoring people in your life</h1>
          
        <p>The strength of your relationships is one of the strongest predictors of happiness.  Our social bonds help us weather difficult times, and make the good times even better.  However, it's all too easy to take people for granted and forget how lucky we are to have them. In this next exercise, you'll pick a specific person you're grateful for and write a short paragraph on the specific things about them you appreciate most.
        This trains your brains to focus on the positive aspects of your relationships, helps you be a better friend, and ultimately strengthens the relationship.</p><br />
        
        <% new SplitTest('honoring-people-intro-placebo').yesno(function(){ %>
        <p><i>You may find your happiness and appreciation carry over to your next meeting with the person, making your friend, spouse, or family member happier as well.</i></p> 
        <% }); %>
      </div>
      </div>
    </div>
   <footer id="footer">
     <div class="btn-center">
        <button id="nextButton" class="btn btn-default">Get Started</button>
     </div>
    </footer>
</div>
