<div id="MicrohabitsExercise" class="default">
  <div class="inner clearfix">
    <header class="form-header">
      <center><h2>bliss</h2></center> 
    </header>
    <div class="content">
      <div class="inner clearfix">
        <div class="container clearfix">
          <h1 class="title">Microhabits</h1>

          <p>Microhabits make behavior change fun and easy.</p>
          <p>First you'll pick something you want to add to your life (Exercising, meditating, eating better, learning a language.)</p>
          <p>Then you'll identify a small action and a <em>specific</em> time to do it.</p>
          <p>Watch as your microhabit grows into a lifelong passion and daily part of your routine, moving you closer to your ideal self.</p>
        
      </div>
      </div>
    </div>
    <footer id="footer">
      <div class="btn-center">
      <button id="nextButton" class="btn btn-default">Get Started</button>
      </div>
    </footer>
  </div>
</div>
