<div id="SevenDayChallenge">
  <header id="header" class="header">
    <div class="inner clearfix">
          <center>
          <a href="/">
            <img src="/images/useraccess-logo.png" alt="Bliss Logo"> 
          </a>
          </center>
        </div>
  </header>
  <div class="content">
    <div class="header-container">
      <div class="inner clearfix">
      <h2>7 Day Challenge: Getting Started</h2>
      </div>
    </div>
    <div class="container clearfix">
      <div class="step-two-details">
        <div class="clearfix">
          
          <div class="col-1">
            <div class="inner">
            <p>Whenever starting a new habit, it's important to clarify your motivation to help you stick with it and get the best 
            results from your effort. To the right are a few reasons people use Bliss. Check any and all that apply to you.</p>
            </div>
          </div>
          <div class="col-2">
            <div class="inner clearfix">
                <fieldset id="reasons">
                <div class="field">
                <input type="checkbox" name="reasons" id="become_happier" value="become_happier"><label for="become_happier">Become happier</label>
                </div>
                <div class="field">
                <input type="checkbox" name="reasons" id="become_successful" value="become_sucessful"><label for="become_successful">Become more productive / successful</label>
                </div>
                <div class="field">
                <input type="checkbox" name="reasons" id="purpose" value="purpose"><label for="purpose">Increase my sense of purpose and meaning in life</label>
                </div>
                <div class="field">
                <input type="checkbox" name="reasons" id="health" value="health"><label for="health">Improve my health</label>
                </div>
                <div class="field">
                <input type="checkbox" name="reasons" id="help_others" value="help_others"><label for="help_others">Help spread happiness to others</label>
                </div>
                </fieldset>
              </div>            
          </div>
        </div>
      </div>
  </div>
      <div class="container additional">
        <div class="inner clearfix">

        <strong>Additional Reasons:</strong>
        <textarea id="other"><%= other %></textarea>
        <p class="help">Writing out your own reasons helps clarify your intention and get the most out of Bliss</p>
         <div class="btn-center">
            <button id="submitButton" class="btn btn-block submitButton">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
