<div id="MotivationExercise" class="default">
  <header class="form-header">
    <center><h2>bliss</h2></center>
  </header>
    <div class="content">
        <div class="inner clearfix">
        
        <div class="container clearfix">
        <h2 class="title">Why are people using Bliss?</h2>
          <ul>
            <li>
              <b>Become happier</b> - Bliss uses scientifically tested exercises from positive psychology to rewire your brain for happiness.  Each exercise you complete
              strengthens your optimism and resilience, reduces stress, and staves off depression, helping you lead a more positive and fulfilling life.
            </li>

            <li>
              <b>Become more successful</b> - Research from <b>Shawn Anchor</b> and others shows that being happy makes us more productive.  Happy people are more creative, better at problem solving, more resilient to set backs, and <a href='http://cdp.sagepub.com/content/15/3/122.short' target='_blank'>they even live longer</a>.  Bliss goes even further, providing exercises that target motivation, resilience, confidence and effectiveness - helping you set goals and find new paths to accomplish them.
            </li>

            <li>
            <b>Become a better parent, spouse, or friend.</b> Happiness is contagious and it dramatically affects your relationships with others. Becoming a happier, more purpose-driven individual not only helps you; it has a dramatic impact on the people in your life.
            </li>
          </ul>
        </div>
        
        </div>
    </div>
    <footer id="footer">
      <div class="btn-center">
        <button id="nextButton" class="btn btn-default">Next</button>
      </div>
  </footer>
</div>
