<div id="SavoringExercise" class="default intro">
  <div class="inner clearfix">
    <header class="form-header">
      <center><h2>bliss</h2></center>
    </header>
    <div class="content">
      <div class="inner clearfix">
        <div class="container clearfix">
          <h1 class="title">Savoring</h1>
          
          <p>As we focus on our goals and problems, it's all too easy to become dead to the joys of daily life. We lose the single-minded focus of 
          a child, enjoying an ice-cream cone by the pool on a hot summer day.</p><br .>
          <p><em>Savoring</em> is a technique from postive pscyhology that's been proven to increase happiness and life-satisfaction. (And, for you success-minded individuals, who
          are probably in special need of savoring, remember that anything that increases happiness also makes your brain more productive, resilient, creative, and better at problem solving.)
          </p><br .>
          <p>As you train your brain to focus on daily pleasures by repeating this exercise, you allow yourself to enjoy your life more, you become happier, and you bring an infectious positive spirit to everything you do.</p><br />
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="btn-center">
        <button id="nextButton" class="btn btn-default">Get Started</button>
      </div>
    </footer>
  </div>
</div>
