<div id="_Exercise_Name_" class="default">
   <header class="form-header">
      <center><h2>bliss</h2></center> 
    </header>
    <div class="content">
      <div class="inner clearfix">
        <div class="container clearfix">
          <h1 class="title">_Exercise_Name_</h1>
          <p>_Exercise_Name_ intro goes here</p>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="btn-center">
        <button id="nextButton" class="btn btn-default">Get Started</button>
      </div>
    </footer>
</div>
