<div id="ThreeGoodThingsExercise" class="default">
   <header class="form-header">
      <center><h2>bliss</h2></center> 
    </header>
    <div class="content">
      <div class="inner clearfix">
        <div class="container clearfix">
          <h1 class="title">Three Good Things</h1>
         
          <p>Three Good Things is an exercise that can be done every day, perhaps in the morning, or immediately before going to bed.</p></br>
          <p>It trains your brain to focus on the positive - the victories, accomplishments and joys of daily life. As you continue with this exercise, you'll notice your mind becomes more aware of the positive things in your life. While you go about your day, your brain is already searching out and creating your next list of Three Good Things.</p><br />
          <p>Strengthening your positive focus brings a enormous number of psychological benefits. Positive people are happier, more motivated, better at creative problem solving, more resilient, and suffer fewer illnesses. They even live longer. They are viewed by others as being more attractive, likeable, charismatic and trustworthy. Every repetition of this exercise strengthens these qualities, helping you become the best possible version of yourself.</p>
          
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="btn-center">
        <button id="nextButton" class="btn btn-default">Get Started</button>
      </div>
    </footer>
</div>
