<div id="TransformingProblemsExercise" class="default intro">
 <div class="inner clearfix">
   <header class="form-header">
      <center><h2>bliss</h2></center> 
    </header>
    <div class="content">
      <div class="inner clearfix">
      <div class="container clearfix">
        
        <h1 class="title">Transforming Problems</h1>
          
          <p>This exercise works by taking the most troubling things in your life and transforming them into sources of meaning, motivation, and even happiness.
        If Holocaust survivors such as Viktor Frankl can find meaning and purpose even in the most dire of conditions, then we too can find meaning, even opportunity in our problems.
          </p>
          <br />
          <p>
          These individuals show us that while we cannot always choose or circumstances, <em>the way we think about our circumstances is a choice.</em> The work-load a college student perceives as a burden, would, to a person in a refugee camp, seem the most extraordinary opportunity. Which view is correct?  The answer depends totally on your outlook.     
          There is no problem that cannot be interpeted equally validly as an opportunity for growth.
          </p>
         <br />
          <p>
          Transforming problems in this way reduces stress, increases motivation, and unleashes a flood of positivity, opening up new avenues to overcome difficulties.
          </p>

        </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="btn-center">
        <button id="nextButton" class="btn btn-default">Get Started</button>
      </div>
    </footer>
  </div>
</div>
