<div class="content clearfix">
  <% if (use_day_streak > 1000) { %>
    <div class='day-streak'>You've used Bliss for <%= use_day_streak %> days in a row</div>
  <% } %>
  <div class="exercise-container">
    <% $.each(popup_exercises, function(key, exercise) { %>
      <div class="exercise" href="<%= exercise.name %>">
        <span class="icon-pencil"></span>
        <div class="name"><%= exercise.display_name %>
        <% if (exercise.is_scheduled) { %>
          <span class='new'>Scheduled</span>
        <% } %>
        </div>
      </div> 
    <% }); %>
  </div>
</div>
<footer class="footer clearfix">
    <div class="popup-actions inverted clear-notifications"><span class="icon-paint-format"></span>Clear Scheduled Exercises</div>
    <div class="popup-actions inverted" href="/ui/review/Review.htm"><span class="icon-notebook"></span>Review Exercises</div>
    <div class="popup-actions inverted" href="/ui/deploy/deploy.htm?exercise=FeedbackForm"><span class="icon-feedback"></span>Feedback</div>
    <div class="popup-actions inverted" href="/ui/deploy/deploy.htm?exercise=SettingsForm"><span class="icon-cog5"></span>Settings</div>
    <%  if (Bliss.dev) { %>
      <div class="dev" href="dev/getStorage.htm?deploy=1"><span class="icon-storage"></span><span class="mls">Edit Storage<div class="devtool">dev tool</div></span></div>
      <div class="dev" href="dev/setDate.htm"><span class="icon-storage"></span><span class="mls">Edit Date<div class="devtool">dev tool</div></span></div>
      <div class="dev" href="docs/index.html"><span class="icon-storage"></span><span class="mls">Documentation<div class="devtool">dev tool</div></span></div>
      <div class="dev" href="tests/test.htm"><span class="icon-storage"></span><span class="mls">Tests<div class="devtool">dev tool</div></span></div>
    <% } %>
</footer>
